html, body {
  background-color: #1f0503;
}

a {
  color: #fbfafa;
  font-weight: 500;
}

* {
  webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
